*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
.header{
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}
.nav{
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: white;
}
ul{
    display: flex;
    list-style-type: none;
    margin-left: auto;
    gap: 20px;
}
.logo{
    color: #f9faf8;
    font-size: 1.5rem;
    margin: 18px;
    font-weight: bolder;
}
/* Path: index.html */
.web{
    background-color: #1f2937;
    display: flex;
    padding: 50px;
    justify-content: space-evenly;
    text-wrap: wrap;
    
}
.topic{
    width: 430px;
    height: 250px;  
}
.topic h1{
    font-size: 48px;
    color: #f9faf8;
}
.topic p{
    font-size: 18px;
    color: #f9faf8;
    margin-top: 10px;
}
.topic button{
    color: #f9faf8;
    background-color: #3882f6;
    padding: 8px 30px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}
.boxes{
    display: flex;
    justify-content: space-evenly;
}
.box{
    width: 150px;
    height: 100px;
    border: rgb(44, 98, 214) 3px solid;
    margin: 20px;
    border-radius: 40px;
    padding: 20px;
}
.info #id1{
    color: black;
    font-size: 48px;
    text-align: center;
}
.box p{
    padding-top: 110px;
    text-align: center;
    margin-top: 20px;
}
.info{
    margin-bottom: 80px;
}
img{
    border-radius: 40px;
}